[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = ""
verify_ssl = false
name = 'n_pypi'

[dev-packages]

[packages]
appmetrics = "==0.5.0"
flask = "==1.1.2"
requests = "==2.24.0"
socutils = {version = '==1.5.9', index = "n_pypi"}
pika = {version = '==1.1.0', index="pypi"}
retry = "==0.9.2"
cheroot = "==8.3.0"

[requires]
python_version = "3.7"
